@*
  For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<section class="panel panel-team">
  <header class="panel-heading">
    <span class="fa fa-feed"></span> My Feed
  </header>
  <main class="panel-body">
    <p class="text-subtle">
      This feature is currently disabled.  Follow our <a class="clean-link" target="_blank" href="https://github.com/iteam-software/smash-league/issues/19"><span class="octicon octicon-mark-github"></span> github issue #19</a> for more information!
    </p>
  </main>
</section>