@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<section class="panel panel-team">
  <header class="panel-heading">
    <span class="fa fa-users"></span> My Teams
  </header>
  <main class="panel-body">
    <p class="text-subtle" ng-if="!Teams || !Teams.length">You are not associated with any teams.  <a href="/#/team/new">Create a team</a></p>
    <team-listing ng-repeat="team in Teams" ng-model="team"></team-listing>
  </main>
</section>