
@import "variables.less";
@import "mixins/images.less";

.profile-img {
  img {
    height: 150px;
    width: 150px;
    background-color: @profile-img-background;
    border: 5px solid #fff;
    border-radius: 2px;
  }

  file-selector& {
    display: block;
    height: 150px;
    width: 150px;
  }
}

.profile-img-edit {
  .profile-images-edit(false);
}

.profile-banner {
  background-color: @profile-banner-background;
  height: 300px;
  background-size: 100% auto;
  background-repeat: no-repeat;

  &.editing {
    &:hover {
      cursor: pointer;
    }
  }

  .profile-banner-edit {
    .profile-images-edit(true);
  }
}
