
@import "variables.less";
@import "mixins/layout.less";

body {
  background-color: lighten(@navbar-inverse-bg, 20%);
}

.profile {
  background: #fff;

  .profile-banner {
    width: 100%;
    position: relative;
    padding-left: @profile-banner-padding-left + 150px /* 150px is the profile-img size */;

    .profile-img {
      position: absolute;
      left: @profile-banner-padding-left / 2;
      bottom: -50px;
      border-color: #fff;
      border-width: 5px;
      z-index: 990;
    }

    .profile-header {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px 0 5px @profile-banner-padding-left + 150px;
      background-color: rgba(10, 10, 10, 0.25);
      z-index: 980;

      ul.nav-profile-edit {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        li {
          display: inline-block;

          + li {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.profile-content {
  padding-top: 60px;
}


.dropdown-auth {
  padding: @dropdown-auth-padding;
  width: @dropdown-auth-width;
}

.navbar-full {
  padding: 0 @navbar-full-padding;
}

.navbar-form {
  padding: 0;

  & + .navbar-nav {
    padding: 0 15px;
  }
}

.nav-profile {
  a {
    p {
      font-size: 80%;
      margin-bottom: 0;
    }
  }
}

.nav-red {
  .nav-color-variant(@brand-red, @nav-item-border);
}

.nav-blue {
  .nav-color-variant(@brand-blue, @nav-item-border);
}

.nav-gold {
  .nav-color-variant(@brand-gold, @nav-item-border);
}

.banner {
  width: 100%;
  min-height: 25px;
}

.banner-default {
  .banner-variant(@navbar-default-bg);
}

.banner-red {
  .banner-variant(@brand-red);
}

.banner-blue {
  .banner-variant(@brand-blue);
}

.banner-gold {
  .banner-variant(@brand-gold);
}

.content {
  padding: 20px 0;
}

.content-home {
  background-color: darken(@navbar-default-bg, 10%);
}

.panel-empty {
  @lighten-factor: 60%;

  min-height: 220px;
  position: relative;

  .panel-default &:before {
    color: lighten(@panel-default-text, @lighten-factor);
    position: absolute;
    bottom: 0;
    font-family: FontAwesome;
    content: "\f259";
  }

  & .caption {
    color: lighten(@panel-default-text, @lighten-factor);
    position: absolute;
    bottom: 0;
    left: 22px;
  }
}

.footer {
  padding-top: 50px;

  a {
    color: @navbar-inverse-bg;
  }

  a:hover {
    text-decoration: none;
    color: darken(@navbar-inverse-bg, 10%);
  }
}

.nav {
  .form-group + .dropdown {
    margin-left: 10px;
  }
}
