
@import "variables.less";
@import "mixins/layout.less";

body {
  background-color: lighten(@navbar-inverse-bg, 20%);
}

.profile {
  background: #fff;

  .profile-banner {
    width: 100%;
    position: relative;

    .profile-img {
      position: relative;
      bottom: -205px;
      border-color: #fff;
      border-width: 5px;
      z-index: 990;
    }

    .profile-img-edit {
      bottom: -60px;
      left: 5px;
    }

    .profile-header {
      position: relative;
      bottom: -70px;
      left: 0;
      right: 0;
      padding: 5px 0 5px @profile-banner-padding-left + 150px;
      background-color: rgba(10, 10, 10, 0.25);
      z-index: 980;
    }
  }
}

.profile-content {
  padding-top: 40px;
  background-color: #d8d5cf;
  border-top: 5px solid #fff;

  ul.nav-profile-edit {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    li {
      display: inline-block;
      
      button.btn-info,
      button.btn-success {
        color: #fff;
      }

      button:hover.btn-info,
      button:hover.btn-success {
        color: #fff;
      }

      button:hover.btn-default {
        color: @btn-default-color;
      }

      + li {
        padding-left: 10px;
      }
    }
  }

  .profile-details {
    position: relative;
    color: darken(#d8d5cf, 50%);
    top: 10px;

    .form-group {
      margin-bottom: 2px;
    }

    .profile-username {
      margin-bottom: 0;
    }
  }

  .navbar-profile-details {
    position: relative;
    top: -40px;

    &.navbar {
      background-color: lighten(@content-bg, 10%);
      border-radius: 0;
      margin-bottom: 0;

      li a {
        color: @navbar-default-color;
      }

      li button {
        color: @navbar-default-color;
      }

      li button:focus {
        text-decoration: none;
        border-color: transparent;
        outline: none;
      }

      li:hover button {
        text-decoration: none;
        color: darken(@brand-blue, 5%);
      }

      li:hover button[disabled="disabled"] {
        color: @navbar-default-color;
      }

      li.active:hover button[disabled="disabled"] {
        color: @brand-blue;
      }

      li:hover a {
        background-color: transparent;
        color: darken(@brand-blue, 5%);
      }

      li.active a {
        color: @brand-blue;
        background-color: softlight(#fff, average(#fff, @brand-blue));
      }

      li.active button {
        color: @brand-blue;
      }
    }
  }

  .profile-content-main {
    background-color: lighten(@content-bg, 10%);
    padding: 30px 15px;
  }
}


.dropdown-auth {
  padding: @dropdown-auth-padding;
  width: @dropdown-auth-width;
}

.navbar-full {
  padding: 0 @navbar-full-padding;
}

.navbar-fixed-top {
  -o-transition: top ease .3s;
  -webkit-transition: top ease .3s;
  -moz-transition: top ease .3s;
  transition: top ease .3s;
}

.navbar-fixed-top {
  .navbar-brand {
    position: absolute;
    left: 50%;

    img {
      width: 32px;
      height: 32px;
      position: relative;
      top: -5px;
      left: -15px;
    }
  }
}

.initializing {
  &.navbar-fixed-top {
    top: -@navbar-height;
  }

  > .row {
    margin-top: 200px;
  }
}

.navbar-form {
  padding: 0;

  & + .navbar-nav {
    padding: 0 15px;
  }
}

.nav-profile {
  a {
    p {
      font-size: 80%;
      margin-bottom: 0;
    }
  }
}

.nav-red {
  .nav-color-variant(@brand-red, @nav-item-border);
}

.nav-blue {
  .nav-color-variant(@brand-blue, @nav-item-border);
}

.nav-gold {
  .nav-color-variant(@brand-gold, @nav-item-border);
}

.nav-purple {
  .nav-color-variant(@brand-purple, @nav-item-border);
}

.banner {
  width: 100%;
  min-height: 25px;
}

.banner-default {
  .banner-variant(@navbar-default-bg);
}

.banner-red {
  .banner-variant(@brand-red);
}

.banner-blue {
  .banner-variant(@brand-blue);
}

.banner-gold {
  .banner-variant(@brand-gold);
}

.banner-purple {
  .banner-variant(@brand-purple);
}

.content {
  padding: 15px;
}

.content-home {
  background-color: #d8d5cf;
}

.panel-empty {
  @lighten-factor: 60%;

  min-height: 220px;
  position: relative;

  .panel-default &:before {
    color: lighten(@panel-default-text, @lighten-factor);
    position: absolute;
    bottom: 0;
    font-family: FontAwesome;
    content: "\f259";
  }

  & .caption {
    color: lighten(@panel-default-text, @lighten-factor);
    position: absolute;
    bottom: 0;
    left: 22px;
  }
}

.footer {
  padding-top: 50px;

  a {
    color: @navbar-inverse-bg;
  }

  a:hover {
    text-decoration: none;
    color: darken(@navbar-inverse-bg, 10%);
  }
}

.nav {
  .form-group + .dropdown {
    margin-left: 10px;
  }
}
