
@import "variables.less";
@import "mixins/panel.less";

.panel-success {
  border-color: #fff;
}

.panel {
  border: none;

  &.panel-team {
    .panel-variant(@brand-blue);

    .roster-player {
      border-top: 2px solid #bbb;
    }
 }

  &.panel-gold {
    .panel-variant(@brand-gold);
  }

  &.panel-purple {
   .panel-variant(@brand-purple);
  }

  &.panel-red {
    .panel-variant(@brand-red);
  }

  &.panel-blue {
    .panel-variant(@brand-blue);
  }
}