
@import "variables.less";

roster-player {
  &.ui-draggable-dragging {
    opacity: 0.6;
    
    // TODO: breakpoints
    width: 25%;
  }
}

.roster-player {
  position: relative;
  padding: 7px 60px;
  height: 65px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: darken(@roster-player-bg, 10%);
  border: 2px dashed transparent;

  &.roster-player-empty {
    border-color: darken(@roster-player-bg, 20%);
    background-color: @roster-player-bg;
  }

  & .help-block {
    margin: 0;
  }

  .profile-img {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    border: 3px solid darken(@roster-player-bg, 10%);
    z-index: 1020;
  }

  .profile-banner {
    position: absolute;
    left: -2px;
    right: -2px;
    bottom: -2px;
    height: 30px;
    z-index: 990;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-left: 60px;
  }
}

.navbar-player-filter {
  margin-bottom: 5px;
}

.well-players {
  height: 295px;
  overflow-y: auto;
  overflow-x: hidden;

  .roster-player {
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:hover {
      background-color: darken(@roster-player-bg, 20%);
    }
  }
}
