
@import "bootstrap/variables.less";

// Fonts
@font-family-lucida: 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;

// Colors
@brand-red: #c34040;
@brand-blue: #0076ad;
@brand-gold: #f8c317;
@brand-purple: #6441a5;
@profile-img-background: darken(@navbar-default-bg, 5%);
@profile-img-border: #ccc;
@profile-banner-background: #39536b;
@content-bg: #282828;

// Buttons
@btn-border-radius: 2px;
@btn-auth-lg-padding: 35px;

@btn-auth-bnet-bg-top: #0f9ada;
@btn-auth-bnet-bg-bottom: #0076ad;
@btn-auth-bnet-bg: #098cc8;

@btn-auth-twitch-bg: #6441a5;

// Layout
@dropdown-auth-padding: 30px;
@dropdown-auth-width: 380px;

@navbar-full-padding: 25px;
@nav-item-border: 4px;

@profile-banner-padding-left: 20px;

// Players
@roster-player-bg: #eee;

// Bootstrap overrides
@font-family-base: @font-family-lucida;
@container-lg: 1240px + @grid-gutter-width;