.dropdown-auth {
  padding: 30px;
  width: 380px;
}
.navbar-full {
  padding: 0 25px;
}
.nav-profile a p {
  font-size: 80%;
  margin-bottom: 0;
}
.btn-auth {
  padding: 11.66666667px 35px;
  border-radius: 2px;
  font-size: 17px;
  width: 100%;
}
.btn-auth-bnet {
  background: #098cc8;
  background-image: linear-gradient(to bottom, #0f9ada, #0076ad);
  color: #fff;
}
.btn-auth-bnet:hover {
  background: #10acf4;
  background-image: linear-gradient(to bottom, #2cb2f0, #0099e0);
  color: #fff;
}
.btn-auth-twitch {
  background: #6441a5;
  color: #fff;
}
.btn-auth-twitch:hover {
  color: #fff;
}
.btn-auth-twitch:hover:not([disabled]) {
  background: #7e5bbe;
}
.btn-auth-profile {
  width: 32px;
  height: 32px;
}
.btn-auth-profile-placeholder {
  margin: 9px;
  background-color: #dddddd;
}
.navbar-default .navbar-nav > li > a.btn-auth-profile-placeholder:hover,
.navbar-default .navbar-nav > li > a.btn-auth-profile-placeholder:active {
  background-color: #d0d0d0;
}
.btn-auth-profile-placeholder:after {
  font-family: FontAwesome;
  content: "\f007";
  position: absolute;
  left: 10.5px;
  top: 7px;
}
