
@{
    Layout = null;
}

<div class="container-fluid content content-home">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="text-center"><span class="fa fa-calendar-check-o"></span> Events</h2>
        </div>
        <div class="panel-body">
          <div class="panel-empty" ng-show="!Events || Events.length == 0">
            <span class="caption">There are no events</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default" controller="AuthController">
        <div class="panel-heading">
          <h2 class="text-center">
            <span class="fa fa-users"></span> | <span class="fa fa-users"></span> Matches
            <button class="btn btn-success pull-left" ng-if="Service.IsAuthenticated"><span class="fa fa-plus"></span> New Match</button>
          </h2>
        </div>
        <div class="panel-body">
          <div class="panel-empty" ng-show="!Matches || Matches.length == 0"></div>
          <div class="table-responsive" ng-show="Matches && Matches.length > 0">
            <table class="table table-hover table-matches">
              <tr ng-repeat="match in Matches">
                <td class="h4 text-center"><strong>{{match.Teams[0].Name}}</strong></td>
                <td class="h4 text-center">VS</td>
                <td class="h4 text-center"><strong>{{match.Teams[1].Name}}</strong></td>
                <td class="text-center">
                  <button class="btn btn-primary" ng-if="Service.IsAuthenticated">Hype!</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>