@{
    Layout = null;
}

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/#/home" class="navbar-brand"><strong>SMASH</strong>League</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-red" ng-class="{active:State && State.current.name.indexOf('Players') >= 0}"><a href="/#/players"><span class="fa fa-user"></span> Players</a></li>
        <li class="nav-blue" ng-class="{active:State && State.current.name.indexOf('Teams') >= 0}"><a href="/#/teams"><span class="fa fa-users"></span> Teams</a></li>
        <li class="nav-gold" ng-class="{active:State && State.current.name.indexOf('Seasons') >= 0}"><a href="/#/seasons"><span class="fa fa-calendar"></span> Seasons</a></li>
      </ul>
      <ul class="nav navbar-right navbar-nav" ui-view="Navigation">
      </ul>
    </div>
  </div>
</div>

<ui-view name="Content"></ui-view>