@{
    Layout = null;
}

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a asp-controller="Home" asp-action="Index" class="navbar-brand"><strong>SMASH</strong>League</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="">Players</a></li>
        <li><a href="">Teams</a></li>
        <li><a href="">Seasons</a></li>
      </ul>
      <ul class="nav navbar-right navbar-nav" ui-view="Navigation">
      </ul>
    </div>
  </div>
</div>

<ui-view name="banner"></ui-view>
<ui-view name="aside"></ui-view>
<ui-view name="main"></ui-view>