@*
    /player
*@
@{
    Layout = null;
}

<div class="content content-home">
  <div class="container">
    <section class="panel panel-red">
      <header class="panel-heading">
        <h2><span class="fa fa-star text-legendary"></span> Top Players</h2>
      </header>
      <main class="panel-body">

      </main>
    </section>

    <section class="panel panel-red">
      <header class="panel-heading">
        <h2><span class="fa fa-search"></span> Seach Results</h2>
      </header>
      <main class="panel-body">

      </main>
    </section>
  </div>
</div>