@*
  Template view for the roster-player directive
*@
@{
    Layout = null;
}

<div class="roster-player" ng-class="{'roster-player-empty':!Player}">

  <img class="profile-img" ng-if="Player && Player.ProfileImageSrc" ng-src="{{Player.ProfileImageSrc}}" />
  <h3 class="help-block" ng-if="Player">
    {{Player.Username}}
    <span ng-if="Player.PreferredRoles | isPlayerRoleActive:'tank'" class="smashleague-glyph-tank"></span>
    <span ng-if="Player.PreferredRoles | isPlayerRoleActive:'assassin'" class="smashleague-glyph-assassin"></span>
    <span ng-if="Player.PreferredRoles | isPlayerRoleActive:'support'" class="smashleague-glyph-support"></span>
    <span ng-if="Player.PreferredRoles | isPlayerRoleActive:'specialist'" class="smashleague-glyph-specialist"></span>
  </h3>
  <div class="profile-banner" ng-if="Player" ng-style="{'background-image':Player.BannerImageSrc && 'url(' + Player.BannerImageSrc +')'}"></div>

  <ng-transclude></ng-transclude>
</div>
