<div class="navbar navbar-default navbar-fixed-top">
  <div class="container" ng-controller="AuthController">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"  ng-if="Service.IsAuthenticated">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/#/home" class="navbar-brand">
        <img src="~/media/logo.png" width="32" height="32" />
      </a>
    </div>
    <div class="navbar-collapse collapse"  ng-if="Service.IsAuthenticated">
      <ul class="nav navbar-nav">
        <li class="nav-red" ng-class="{active:State && State.current.name.indexOf('Player') == 0}"><a href="/#/player"><span class="fa fa-user"></span> Players</a></li>
        <li class="nav-blue" ng-class="{active:State && State.current.name.indexOf('Team') == 0}"><a href="/#/team"><span class="fa fa-users"></span> Teams</a></li>
        <li class="nav-purple" ng-class="{active:State && State.current.name.indexOf('Tournament') == 0}"><a href="/#/tournament"><span class="smashleague-bracket-glyph"></span> Tournaments</a></li>
      </ul>

      <ul class="nav navbar-right navbar-nav" ng-if="!Service.IsAuthenticated">
        <li class="dropdown" dropdown-keep-open>
          <button class="btn btn-primary navbar-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sign-in"></i> Sign In
          </button>
          <ul class="dropdown-menu dropdown-auth">
            <li class="help-block center-block">
              <p>Please select an authentication method below.</p>
            </li>
            <li><button class="btn navbar-btn btn-lg btn-auth btn-auth-bnet text-uppercase" ng-click="SignIn('battlenet')">Battle.net</button></li>
            <li><button class="btn navbar-btn btn-lg btn-auth btn-auth-twitch" disabled>Twitch</button></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-if="Service.IsAuthenticated">
        <li class="dropdown" ng-controller="ProfileController" data-toggle="tooltip" title="Profile options" tooltip data-placement="bottom">
          <a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" 
             ng-class="{'btn-auth-profile-link':Service.Profile.ProfileImageSrc,'btn-auth-profile':!Service.Profile.ProfileImageSrc, 'btn-auth-profile-placeholder':!Service.Profile.ProfileImageSrc}">
            <img ng-src="{{Service.Profile.ProfileImageSrc}}" ng-if="Service.Profile.ProfileImageSrc" class="btn-auth-profile img-rounded"/>
            <span class="visible-xs-inline">{{Service.Profile.Username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="nav-profile text-center">
              <a href="/#/profile">
                <strong>{{Service.Profile.Username}}</strong>
                <p>My Profile</p>
              </a>
            </li>
            <li class="divider"></li>
            <li class="text-center">
              <a href="" ng-click="SignOut()"><i class="fa fa-sign-out"></i> Sign Out</a>
            </li>
          </ul>
        </li>
        <li data-toggle="tooltip" data-placement="bottom" title="Upload a replay">
          <button class="btn btn-success navbar-btn"><span class="octicon octicon-cloud-upload"></span> Upload Replay</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<ui-view name="Banner"></ui-view>
<ui-view name="Content"></ui-view>