@*
    // Application initialization
*@
@{
    Layout = null;
}

<div class="initializing container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="text-center"><strong>Smash</strong>League</h1>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-info active" ng-style="{width: (Completion * 100 + '%')}"></div>
      </div>
    </div>
  </div>
</div>
