@using SmashLeague.Authentication.Battlenet

@{
    // Anonymous Navigation

    Layout = null;
}

<li class="dropdown" dropdown-keep-open>
  <a href="javascript:undefined;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-sign-in"></i> Sign In
  </a>
  <ul class="dropdown-menu dropdown-auth">
    <li class="help-block center-block">
      @*<h3><i class="fa fa-sign-in"></i> Sign In</h3>*@
      <p>Please select an authentication method below.</p>
    </li>
    <li><button class="btn navbar-btn btn-lg btn-auth btn-auth-bnet text-uppercase" ng-click="SignIn('battlenet')">Battle.net</button></li>
    <li><button class="btn navbar-btn btn-lg btn-auth btn-auth-twitch" disabled>Twitch</button></li>
  </ul>
</li>