@*
    // /team/banner
*@
@{
    Layout = null;
}

<div class="banner banner-purple">
  <div class="container">
    <div class="navbar">
      <div>
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Find a tournament" autofocus />
            <span class="input-group-btn">
              <button class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
